.code-keyword {
	color: #cd65aa;
}
.code-string {
	color: #8787ff;
}
.code-comment {
	color: #31875d;
}
.xml-element {
	color: #00eaea;
}
.xml-attribute {
	color: #df52df;
}
.code-label {
	font-weight: bold !important;
	color: #AAAAAA !important;
}
.code-method {
	color: #00b7b7;	
}
.code-assign {
	color: #df52df;	
}

/*
* {
	font-size: 14pt !important;
	font-family: "DejaVu Sans" !important;
}
*/
 
.reveal li {
	padding-bottom: 5px;
}

.reveal blockquote, .reveal blockquote * {
	font-family: Monospace !important;
	font-size: 12pt !important;
	text-align: left;
}

strong {
	background-color: #ffc6c6;
	color: #7c0707;
	padding: 0px 5px !important;
}

.reveal code {
	border: solid 1px #CCCCCC !important;
	border-style: none none dashed none !important;
	font-size: inherit !important;
	background-color: #EAEAEA;
}

