@media print {
	body {
		padding: 0px;
	}
	.tableOfContents { 
		display: none !important;
	}
	#content {
		position: absolute;
		left:0px;
		top:0px;
		width: 100% !important;
		height: auto !important;
		overflow: visible;
		border: none;
	}
}